body{
    font-size: 20px;
    text-align: center;
    background-image:linear-gradient( blue,red);
    /*text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  background color for text was taken from a response on Stack Overflow from a user named "bookcasey" 
 https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text*/
} 
h1{
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 25px;
}
h2{
    font-size: 20px;
    text-decoration: underline;
    padding-top: 15px;
}